body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

h2,
h3,
h4{
  margin: 0 0 0.5rem;
}


#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#filter-buttons {
  margin-bottom: 10px;
}

#caption {
  margin-top: 10px;
  font-weight: bold;
}

#matrix {
  margin-top: 35px;
}

.button {
  background-color: black;
  border: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 500;
  margin-top: 8px;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: black;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-top-content {
  display: grid;
  width: 100%;
}

#readMoreLink {
  display: inline-block;
  background-color: #000;
  border-width: 0;
  color: #fff;
  padding: 8px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
